body {
    background-color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1080px;
}

.page-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info-section {
    width: 100%;
    background-color: #172843;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: Nunito;
    font-size: 16px;
}

.info-section > img {
    width: 364px;
    height: 88px;
    margin: 30px;
}

.info-section > p {
    margin: 30px;
}

.content-section > img {
    height: 100%;
}